@font-face {
  font-family: "ChosunGs";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

#quotes {
  color: white;
  font-family: "ChosunGs";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 1px 1px gray;
}

#login-form {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 1.2em;
  padding: 30px;
  margin-bottom: 30px;
}

#login-form #input-name {
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 65%;
  height: 50px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 1.2em;
}

#login-form #input-name::placeholder {
  color: lightgray;
}

#login-form #login-btn {
  background-color: rgb(84, 84, 232);
  color: white;
  font-size: 1.2em;
  border: 5px outset blue;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 3px 3px gray;
  font-weight: bold;
}

#login-form #login-btn:active {
  background-color: darkblue;
}

#clock {
  margin-top: 10px;
  margin-bottom: 10px;

  color: white;
  font-size: 8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px gray;
}

#greeting {
  color: white;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px gray;
}

#todo-form {
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  font-family: Arial, sans-serif;
  outline: none;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 1.2em;
}

#todo-form #input-todo {
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 70%;
  height: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo-form #input-todo::placeholder {
  color: lightgray;
}

#todo-form #add-btn {
  background-color: rgb(84, 84, 232);
  color: white;
  font-size: 1.2em;
  border: 5px outset blue;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: auto;
  width: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  font-weight: bold;
  text-shadow: 3px 3px gray;
}

#todo-list {
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  width: 1000px;
}

#todo-list li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#todo-list span {
  color: white;
}

#todo-list button {
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#weather {
  font-size: 1.5em;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 500px;
  text-shadow: 3px 3px gray;
}

#weather span {
    margin-right: 10px;
}